.form-riwayat-container form {
  margin: 1rem 0;
  padding: 2rem;
  background: var(--linear-primary);
  color: var(--light);
  border-radius: 1rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.riwayat-container {
  margin: 0.3rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.riwayat-container label {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.riwayat-container input {
  border: 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
