/* simple CSS reset, global setting and variable declaration */

:root {
  --primary-color: #0275d8;
  --secondary-color: #f0ad4e;
  --dark: #292b2c;
  --light: #f7f7f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.app {
  font-family: 'Poppins', sans-serif;
}
